.highlight{
    background-color: aqua;
}
.navbar-style{
    background-color: magenta !important;
}
.green-highlight{
    color:green;
    font-size: 40px;
}
.red-highlight{
color: red;
font-size: 25px;
}